*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body{
    overflow: auto;
}

aside{
    margin-left: 30px;
    margin-top: 30px;
}

aside ul{
    list-style: none;
    margin-left: 20px;
}

aside ul li:hover{
    color: red;
}

summary {
    background-color: transparent;
    box-sizing: content-box;
    height: 40px;
    width: 180px;
    margin-top: 20px;
    cursor: pointer;
}

summary:hover{
    inset-inline: black;
}

details li{
    margin-top: 8px;
    cursor: pointer;
}