*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body{
    overflow: hidden;
}

.left img{
    height: 200%;
    margin-top: -26px;
}

nav{
    background-color: black;
    height: 90px;
    display: flex;
    padding: 1rem;
}

nav ul{
    display: flex;
    width: 100%;
    gap: 3rem;
    margin-left: 20px;
}
nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

nav ul li a{
    text-decoration: none;
    justify-content: center;
    color: white;
    font-weight: 600;
    padding: 8px 0;
}

nav ul li a:hover{
    color: red;
}

.right{
    display: flex;
}

.right img{
    display: flex;
    height: 100%;
    color: white;
    align-items: center;
}

.right img:hover{
    height: 30px;
    width: 30px;
}

input{
    height: 25px;
    width: 100px;
    margin-top: 15px;
    margin-right: 50px;
}