*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body{
    overflow: auto;
}

.left img{
    height: 200%;
    margin-top: -26px;
}

nav{
    background-color: black;
    height: 90px;
    display: flex;
    padding: 1rem;
}

nav ul{
    display: flex;
    width: 100%;
    gap: 3rem;
    margin-left: 20px;
}
nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

nav ul li a{
    text-decoration: none;
    justify-content: center;
    color: white;
    font-weight: 600;
    padding: 8px 0;
}

nav ul li a:hover{
    color: red;
}

.right{
    display: flex;
}

.right img{
    display: flex;
    height: 100%;
    color: white;
    align-items: center;
}

.right img:hover{
    height: 30px;
    width: 30px;
}

input{
    height: 30px;
    padding-left: 10px;
    width: 200px;
    margin-top: 15px;
    margin-right: 50px;
    border: none;
    border-radius: 10px;
}

input:focus-visible{
    border-style: none;
}

nav.Blue{
    background-color:#00438c;
    height: 40px;
}

.group1{
    margin-top: 50px;
}

.group1 h3{
    text-align: center;
    margin-bottom: 20px;
}

.grid{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0 48px;
}

.grid a{
    width: 52px;
}

.icon{
    max-width: 60px;
    aspect-ratio: 1/1;
}

.group2{
    margin-top: 50px;
}

.group2 h3{
    text-align: center;
    margin-bottom: 20px;
}

.banner{
    margin-top: 60px;
    overflow: hidden;
    width: 100%;
}

.banner img {
    aspect-ratio: 16/9;
    width: 100%;
}

.Pay{
    overflow: hidden;
    width: 100%;
}

.Pay img {
    aspect-ratio: 12/1;
    width: 100%;
}
.products{
    justify-content: center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.image{
    width: 350px;
    aspect-ratio: 5/6;
}

.sponsors{
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.spons{
    max-width: calc(100% / 8);
    aspect-ratio: 4/3;
}

.footer{
    padding: 30px;
    font-size: 12px;
    margin-bottom: 30px;
}